<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <ul>
    <li>Name: <%= restaurant.name %></li>
    <li>Capacity: <%= restaurant.capacity %></li>
  </ul>
  <%= link_to 'Book a reservation in this restaurant', new_restaurant_reservation_path(restaurant) %> | <%= link_to 'Restaurant page', restaurant_path(restaurant.id) %>
  <br>
<% end %>